
// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

*
  font-family: "Roboto",微軟正黑體

$gutter_width: 20px

@mixin size($w,$h: $w)
  width: $w
  height: $h

@mixin ab_center
  position: absolute
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)

@mixin trans($d: 0.5s,$dl: 0s)
  transition: $d $dl

@mixin flex_center
  display: flex
  align-items: center
  justify-content: center

body
  color: $color_grey
.btn
  border-radius: 0%
.btn-primary
  background-color: $color_grey
  color: white

h1
h2
  font-size: 34px
h3
h4
h5
h6


p
  font-size: 16px
  line-height: 30px
  letter-spacing: 1px
input
  border: solid 1px $color_grey
  background-color: transparent
  // margin-left: $gutter_width
  padding: 5px 10px

.btn_group_inline
  display: flex

button,.btn
  border: solid 1px $color_grey
  background-color: transparent
  outline: none !important
  user-select: none
  padding: 5px 25px
  width: 100%
  box-shadow: none !important
  position: relative
  cursor: pointer
  +trans

  .degree
    position: absolute
    right: -10px
    top: -20px
    font-size: 12px

  &:focus
    outline: none !important

  &:hover
    background-color: rgba(#ddd,0.3)

  &.active
    background-color: $color_yellow
    color: $color_grey
    &:hover
      background-color: lighten($color_yellow,10)

    .degree
      color: $color_grey

svg
  circle
    cursor: pointer



ul
  list-style: none
  padding: 0

.container
  // min-height: 100vh
  max-width: 1500px
  @media (min-width: 1600px)
    width: 1400px

.full_width_bar
  width: 100vw
  margin-top: 10px
  margin-bottom: 10px

  &.yellow
    background-color: $color_yellow
    height: 10px



//---
.fade-enter-active,.fade-leave-active
  transition: 0.5s
.fade-enter,.fade-leave-to
  opacity: 0

//---

.card_inner
  box-shadow: 0px 0px 20px rgba(0,0,0,0.2)
  
  .card_title
    position: absolute
    left: $gutter_width
    top: $gutter_width
    z-index: 1

.hambergur
  +size(34px)
  position: fixed
  left: $gutter_width
  top: $gutter_width
  z-index: 200
  cursor: pointer
  .bar
    width: 100%
    height: 4px 
    background-color: $color_grey
    +ab_center
    transition: 0.5s
    &:nth-child(1)
      top: 22%
    &:nth-child(3)
      top: 78%
  &.active
    .bar
      &:nth-child(1)
        top: 50%
        transform: translate(-50%,-50%) rotate(45deg)
      &:nth-child(2)
        top: 50%
        transform: translate(-50%,-50%) scaleX(0.01)
      &:nth-child(3)
        top: 50%
        transform: translate(-50%,-50%) rotate(-45deg)


    

.page
  // padding-top: 100px
  // padding-bottom: 100px




section
  // border: solid 2px
  padding: 50px 10px

  &.yellow
    background-color: $color_yellow
  &.grey
    background-color: $color_grey
    color: white

  .title
    font-size: 70px
    font-weight: 500
    .chinese
      font-size: 26px
      margin-left: 10px
      font-weight: 400


.bar_list
  padding: 0
  li
    display: inline-block
    padding: 4px 8px
    cursor: pointer
    border-bottom: solid 4px transparent
    transition: 0.5s
    

    &:hover
      border-bottom: solid 4px #eee
    &.active
      border-bottom: solid 4px $color_yellow
    &.empty
      opacity: 0.5

//---------------

.nav_line
  position: fixed
  display: flex
  flex-direction: column
  white-space: nowrap
  top: 50%
  transform: translateY(-50%)
  z-index: 20
  color: transparent
    
  transition: color 0.5s

  // &:hover
  //   color: $color_grey
    
  li
    width: 8px
    height: 20px
    display: flex
    align-items: center
    background-color: $color_grey
    margin-top: 10px
    padding-left: 5px
    box-sizing: border-box

    &.active
      background-color: $color_yellow


.full_nav
  position: fixed
  +size(100%)
  left: 0
  top: 0
  z-index: 100
  font-size: 80px
  color: white
  font-weight: 500
  cursor: pointer
  padding: 100px
  li
    list-style: none
    &:hover
      color: $color_grey
  .chinese 
    font-size: 40px
    margin-left: 10px



//------------
.section_loading

  .info
    display: inline-block

  h4
    font-size: 16px
    &:after
      content: ""
      display: inline-block
      border-bottom: solid 1px $color_grey
      width: 130px
      margin-left: 15px
  h1
    font-size: 38px
    margin-top: 10px

  .graduation
    list-style: none
    padding-left: 0
    li
      display: inline-block
      height: 6px
      border-left: solid 2px $color_grey
      margin-right: 12px
      &.longer
        height: 10px

//-------------
.section_index
  height: 100vh
  .col-sm-4
    padding-top: 50vh
  .col-sm-8

  .scene
    position: absolute
    width: 80vw
    right: -40vw
    top: -10vw
    mix-blend-mode: multiply
    pointer-events: none

  .info
    display: inline-block

  h4
    font-size: 16px
    &:after
      content: ""
      display: inline-block
      border-bottom: solid 1px $color_grey
      width: 130px
      margin-left: 15px
  h1
    font-size: 38px
    margin-top: 10px

  .graduation
    list-style: none
    padding-left: 0
    li
      display: inline-block
      height: 6px
      border-left: solid 2px $color_grey
      margin-right: 12px
      &.longer
        height: 10px

  button.btn
    display: inline-block
    background-color: #4d4d4d
    color: white
    width: auto
    +trans
    &:hover
      background-color: #666
  
.consumption_pointer
  
  border: solid 1px black
  padding: 10px
  display: inline-block
  
  @keyframes rolling
    0%
      background-position: 0 0
    100%
      background-position: 150px 0


  .pointer_el
    display: block
    width: 150px
    height: 3px
    background: linear-gradient(90deg,$color_grey 0%,$color_grey 25%,white 25%,white 35%,$color_grey 35%)
    animation: rolling 3s infinite linear



//--------------
.section_diagnose
  position: relative
  &:before
    content: ""
    display: block
    position: absolute
    width: 100%
    height: 100%
    top: 0
    left: 0
    background-image: url("/img/場景/Livingroom2.png")
    background-size: 60% auto
    mix-blend-mode: color-burn
    opacity: 0.3
    background-position: right center
    background-repeat: no-repeat
    background-attachment: fixed


  .bar_list
    padding: 10px
    li
      margin: 5px


  .form-group
    margin-bottom: 10px
    vertical-align: middle

  .btn
    border: solid 1px white
    background-color: transparent
    outline: none
    user-select: none
    padding: 5px 15px
    box-shadow: none

    &:focus
      outline: none

    &.active
      background-color: #fff

  input
    border: none
    border: solid 1px $color_grey
    border-radius: 0

//--------------

.section_about
  h2
    margin-top: 50px
    color: $color_yellow_dark
    font-size: 50px
    font-weight: 400
    margin-bottom: 40px

  .explain_block
    vertical-align: middle
    padding: 5px 0px
    cursor: pointer
    &:before
      content: ""

      width: 45px
      height: 20px
      border: solid 2px $color_grey
      display: inline-block
      margin-right: 10px
    &.white:before
      background-color: white
    &.yellow:before
      background-color: $color_yellow

//---------------

.section_show_result
  background-color: #333
  +flex_center
  button.btn
    display: inline-block
    color: $color_grey
    width: auto
    background-color: white
    border: none
    span
      margin-left: 10px
    &:hover
      background-color: $color_yellow
      color: $color_grey
      transform: scale(1.05)



//---------------
.section_room
  .test_info ul
    padding-left: 20px
  .btn_group
    h1
      margin-top: 10px
      margin-right: 20px
      opacity: 0.25
      transition: 0.5s
      cursor: pointer
      &:hover
        opacity: 0.5
      &.active
        opacity: 1
  .room_device_list
    padding: 0
    li
      display: inline-block
      padding: 4px 8px
      cursor: pointer
      border-bottom: solid 4px transparent
      transition: 0.5s
      font-size: 16px
      

      &:hover
        border-bottom: solid 4px #eee
      &.active
        border-bottom: solid 4px $color_yellow
      &.empty
        opacity: 0.45

  
  input
    width: 40%
    margin-left: 0
    &:focus
      outline: none
  label
    margin-right: 0px
    width: 100px


  .input_side_btn
    border: solid 1px 
    display: inline-block
    padding: 5px 10px
    cursor: pointer
    transition: 0.5s
    &:hover
      background-color: #ddd
    & + input
      margin: 0
  
  .form_block
    border: solid 2px
    margin: 5px
    margin-bottom: 10px
    color: $color_grey
    padding: $gutter_width
    border: solid 1px
    position: relative
    overflow: hidden

  

  .device_info
    position: absolute
    left: 10px
    top: 10px
    .eng
      margin-bottom: 5px
    h3
      margin: 0

  .device_pic
    // background-color: #f3f3f3
    width: 100%
    height: 200px
    margin-bottom: -20px
    // float: left

  .device_watt
    position: absolute
    left: 10px
    bottom: 10px
    &:before
      content: "平均耗電: "
    &:after
      content: "瓦/小時"
  
  .btn_group
    display: flex
    width: 100%


  

//---------------

.section_solution

  .card
    // border: solid 2px
    padding: 10px
  .card_inner
    background-color: white
    color: $color_grey
    padding: $gutter_width
    border: solid 1px
    position: relative
    min-height: 550px
    h2,h5
      margin:
        top: 10px
        bottom: 5px
    svg
      position: absolute
      left: 0
      top: 0
      // margin: -$gutter_width
      width: 100%
      height: 500px
  .room_part_value
    display: flex
    border: solid 1px black
    position: absolute
    padding-left: 0
    bottom: -15px
    left: 0px
    width: 100%
    list-style: none
    display: flex
    cursor: pointer

    li
      border: solid 1px black
      padding: 10px 0px
      height: 100%
      background-color: #FFF 
      text-align: center
      +trans

      &:hover
        background-color: #dedede 
      &.active
        background-color: $color_yellow
        &:hover
          background-color: lighten($color_yellow,10)

  .recommend_list
    list-style: none
    padding-left: 0
    li
      display: inline-block


//------------
.section_share
  position: relative
  min-height: 100vh
  &:before
    content: ""
    display: block
    position: absolute
    width: 100%
    height: 100%
    top: 0
    left: 0
    background-image: url("/img/場景/Livingroom2.png")
    background-size: 60% auto
    mix-blend-mode: color-burn
    opacity: 0.3
    background-position: right center
    background-repeat: no-repeat
    background-attachment: fixed
  .card_inner
    margin-top: 10%
    background-color: #FFF
    padding: $gutter_width

//-----------
footer
  padding-top: 50px
  padding-bottom: 50px